body{
    background: #fe3632;;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;



}

.div-form{
    background-color: white;
    min-height: 15vh;
    min-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.div-form input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}

.div-form input:hover {
    background-color: #ddd;
}

#imagem-login{

    max-width: 30%;

}