body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#principal {
    display: flex;
    width: 100%;
    height: 100vh; /* Mantém a primeira seção em tela inteira */
}

#imagem-container {
    flex: 1;
    background-color: #fe3632; /* Vermelho */
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem-container img {
    max-width: 80%;
    height: auto;
}

.container-form {
    flex: 1;
    background-color: #f4f4f4; /* Branco */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    max-width: 400px;
    color: #000; /* Texto preto para contraste no branco */
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #555;
    margin: 0 auto 20px;
    border-radius: 50%;
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 20px 0;
    padding: 15px;
    background-color: #f4f4f4;
    border-left: 5px solid #fe3632;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.options {
    margin: 20px 0;
}

.options a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}

.options a:hover {
    background-color: #ddd;
}

.footer {
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center;
    background-color: #f4f4f4;
    width: 100%;
    padding: 10px 0;
}

.footer a {
    color: #1da1f2;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}