<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/estilo-login.css">

</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="../view/Feeds.html">
            <img id="imagem-login" src="../view/imagens/logo.png" alt="Logo" style="width: 100px; margin-bottom: 10px;">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p>Não tem uma conta? <a href="cadastro.html">Cadastre-se aqui</a></p>
        </form>
    </div>
</body>
</html>
