<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/estilo-login.css">
    <title>Login</title>
</head>
<body>
    <main>

        <form class="formulario" action="../view/Feeds.html">

            <img id="imagem-login" src="../view/imagens/logo.png" alt="">
        <div class="div-form">
            E-mail:<input type="email"> 
            Senha:<input type="password"> <br>

            <input type="submit" value="Entrar">

        </div>

        </form>


    </main>
</body>
</html>